<p id="notice"><%= notice %></p>

<h1>Solicitações Recebidas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div id="requests" style="boder: 1px solid black">
      
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Test model', new_test_model_path %>
